<a href="https://colab.research.google.com/github/mbkamran/ml-projects/blob/main/Youtube_Comments_Classifier_Spam_Ham/Data%2BCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import numpy as np
import glob

In [66]:
csv_files = glob.glob("Youtube*.csv")
df_list = (pd.read_csv(file) for file in csv_files)
yt_df = pd.concat(df_list, ignore_index=True)

twt_df = pd.read_csv("train.csv")

In [67]:
# a = twt_df[['Tweet', 'Type']]
ready_twt = (twt_df.rename(columns={'Tweet': 0, 'Type': 1}))[[0, 1]]
ready_twt.loc[ready_twt[1] == 'Quality', 1] = 0
ready_twt.loc[ready_twt[1] == 'Spam', 1] = 1

ready_twt

                                                       0  1
0      It's the everything else that's complicated. #...  0
1      Eren sent a glare towards Mikasa then nodded a...  0
2      I posted a new photo to Facebook http://fb.me/...  0
3      #jan Idiot Chelsea Handler Diagnoses Trump Wit...  1
4      Pedophile Anthony Weiner is TERRIFIED of Getti...  1
...                                                  ... ..
11963                                   11:11 meet harry  0
11964  If BBC Food disappears the loss of knowledge w...  0
11965  Look What Liberals Did to This Historic Monume...  1
11966  I uploaded a new track, "Everyday Lite 1", on ...  0
11967  Trump should be declared the victor by about 9...  1

[11968 rows x 2 columns]

In [68]:
ready_twt = ready_twt.sample(1956)

In [69]:
ready_yt = (yt_df.rename(columns={'CONTENT': 0, 'CLASS': 1}))[[0, 1]]
ready_yt

                                                      0  1
0                                            Nice songï»¿  0
1                                         I love song ï»¿  0
2                                         I love song ï»¿  0
3     860,000,000 lets make it first female to reach...  0
4                         shakira is best for worldcupï»¿  0
...                                                 ... ..
1951                   Like this comment for no reasonï»¿  1
1952                                    love this songï»¿  0
1953  this song is awesome. these guys are the best....  1
1954   HOW MANY THUMBS UP FOR LOUIS SAVING THE DAY!?!?ï»¿  1
1955                                           NICE :3ï»¿  0

[1956 rows x 2 columns]

In [70]:
ready_yt = ready_yt.sample(1000)

In [71]:
stopwords = pd.read_csv("stopwords.csv")
stopwords

          i
0        me
1        my
2    myself
3        we
4       our
..      ...
128   isn't
129   won't
130   arent
131    isnt
132    wont

[133 rows x 1 columns]

In [72]:
df_data = pd.concat([ready_twt, ready_yt])
df_data

                                                       0  1
939    Sir, I think this a Last Chance we have Under ...  0
3049   I'm over 3,000 words on today's Musings.  And ...  0
6150   when I opened the paper and saw the question a...  0
11561  Portillo's will bring its Chicago-style dogs t...  1
8570           @Chelsea15Jgod what is this? @Chelsvilla_  0
...                                                  ... ..
1291   Please check out my acoustic cover channel :) ...  1
241                                            beautiful  0
416    now its 1,884,034,783 views! pls. comment the ...  0
289    do you want to make some easy money? check out...  1
1061                         Anybody else here in 2015?ï»¿  0

[2956 rows x 2 columns]

In [74]:
import re

df_data[0] = df_data[0].str.lower()
df_data[0] = df_data[0].str.replace(r'@[a-z0-9]+', ' TAGGEDUSER ', regex=True)
df_data[0] = df_data[0].str.replace(r'#[a-z0-9]+', ' HASHTAG ', regex=True)
df_data[0] = df_data[0].str.replace(r'(https?:\/\/)?[\w\-~]+(\.[\w\-~]+)+(\/[\w\-~@:%]*)*(#[\w\-]*)?(\?[^\s]*)?', ' HTTP ', regex=True)
df_data[0] = df_data[0].str.replace(r'(^\d+\s|\s\d+\s|\s\d+$)|(\d*\.\d+)|(\d+\.[0-9 ]+)', ' NUMBER ', regex=True)
df_data[0] = df_data[0].apply(lambda x: ' '.join(w for w in x.split() if not w in ["&amp", "&gt", "&lt"]))
df_data[0] = df_data[0].apply(lambda x: ' '.join(w for w in x.split() if not w in stopwords))
df_data[0] = df_data[0].apply(lambda x: re.sub('[^A-Za-z0-9]', ' ', x))
df_data[0] = df_data[0].apply(lambda x: ' '.join(w for w in x.split() if len(w)>1))

In [75]:
# from sklearn.model_selection import train_test_split

# df_train, df_temp = train_test_split(df_data, test_size=0.3)
# df_evl, df_test = train_test_split(df_temp, test_size=0.5)

In [76]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [77]:
path = '/content/drive/MyDrive/systems_ml/'

In [78]:
# df_train.to_csv(path + 'training_set.csv', index=False)
# df_evl.to_csv(path + 'evaluation_set.csv', index=False)
# df_test.to_csv(path + 'testing_set.csv', index=False)
df_data.to_csv(path + 'clean_data.csv', index=False)