<a href="https://colab.research.google.com/github/mbkamran/ml-projects/blob/main/Data%2BCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np
import glob

In [29]:
csv_files = glob.glob("Youtube*.csv")
df_list = (pd.read_csv(file) for file in csv_files)
yt_df = pd.concat(df_list, ignore_index=True)

twt_df = pd.read_csv("train.csv")

In [30]:
# a = twt_df[['Tweet', 'Type']]
ready_twt = (twt_df.rename(columns={'Tweet': 0, 'Type': 1}))[[0, 1]]
ready_twt.loc[ready_twt[1] == 'Quality', 1] = 0
ready_twt.loc[ready_twt[1] == 'Spam', 1] = 1

ready_twt

                                                       0  1
0      It's the everything else that's complicated. #...  0
1      Eren sent a glare towards Mikasa then nodded a...  0
2      I posted a new photo to Facebook http://fb.me/...  0
3      #jan Idiot Chelsea Handler Diagnoses Trump Wit...  1
4      Pedophile Anthony Weiner is TERRIFIED of Getti...  1
...                                                  ... ..
11963                                   11:11 meet harry  0
11964  If BBC Food disappears the loss of knowledge w...  0
11965  Look What Liberals Did to This Historic Monume...  1
11966  I uploaded a new track, "Everyday Lite 1", on ...  0
11967  Trump should be declared the victor by about 9...  1

[11968 rows x 2 columns]

In [31]:
ready_twt = ready_twt.sample(900)

In [32]:
ready_yt = (yt_df.rename(columns={'CONTENT': 0, 'CLASS': 1}))[[0, 1]]
ready_yt

                                                      0  1
0                                            Nice songï»¿  0
1                                         I love song ï»¿  0
2                                         I love song ï»¿  0
3     860,000,000 lets make it first female to reach...  0
4                         shakira is best for worldcupï»¿  0
...                                                 ... ..
1951  This song means so much to me thank you  soooo...  0
1952                                             &lt;3ï»¿  0
1953  KATY PERRY, I AM THE "DÃ‰CIO CABELO", "DECIO HA...  1
1954  Honestly speaking except taylor swift and adel...  0
1955  who is going to reach the billion first : katy...  0

[1956 rows x 2 columns]

In [33]:
ready_yt = ready_yt.sample(900)

In [34]:
stopwords = pd.read_csv("stopwords.csv")
stopwords

          i
0        me
1        my
2    myself
3        we
4       our
..      ...
128   isn't
129   won't
130   arent
131    isnt
132    wont

[133 rows x 1 columns]

In [35]:
df_data = pd.concat([ready_twt, ready_yt])
df_data

                                                       0  1
3641   i guess the winners are always so predictable ...  0
10284  Let me just whip up this artwork quick because...  0
11428  if someone shows you their true colour, don't ...  0
8699             BUILD THAT WALL https://t.co/f5LAmNWr1W  1
5324   and found it  !\nall of u are ded!pic.twitter....  0
...                                                  ... ..
1163   Hi Guys im an Upcoming Rapper if you could che...  1
1573   Check out my Music Videos! Fuego - U LA LA Rem...  1
1211              CHECK OUT MY CHANNEL BOYS AND GIRLS ;)  1
450    Why did they stop their career in music? This ...  0
69                                          super musicï»¿  0

[1800 rows x 2 columns]

In [36]:
import re

df_data[0] = df_data[0].str.lower()
# df_data[0] = df_data[0].str.replace(r'@[a-z0-9]+', ' TAGGEDUSER ', regex=True)
# df_data[0] = df_data[0].str.replace(r'#[a-z0-9]+', ' HASHTAG ', regex=True)
df_data[0] = df_data[0].str.replace(r'(https?:\/\/)?[\w\-~]+(\.[\w\-~]+)+(\/[\w\-~@:%]*)*(#[\w\-]*)?(\?[^\s]*)?', ' HTTP ', regex=True)
df_data[0] = df_data[0].str.replace(r'(^\d+\s|\s\d+\s|\s\d+$)|(\d*\.\d+)|(\d+\.[0-9 ]+)', ' NUMBER ', regex=True)
df_data[0] = df_data[0].apply(lambda x: ' '.join(w for w in x.split() if not w in ["&amp", "&gt", "&lt"]))
df_data[0] = df_data[0].apply(lambda x: ' '.join(w for w in x.split() if not w in stopwords))
df_data[0] = df_data[0].apply(lambda x: re.sub('[^A-Za-z0-9]', ' ', x))
df_data[0] = df_data[0].apply(lambda x: ' '.join(w for w in x.split() if len(w)>1))
df_data.to_csv('test_out.csv', index=False)

In [37]:
from sklearn.model_selection import train_test_split

df_train, df_temp = train_test_split(df_data, test_size=0.3)
df_evl, df_test = train_test_split(df_temp, test_size=0.5)

In [38]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [39]:
path = '/content/drive/MyDrive/systems_ml/'

In [42]:
df_train.to_csv(path + 'training_set.csv', index=False)
df_evl.to_csv(path + 'evaluation_set.csv', index=False)
df_test.to_csv(path + 'testing_set.csv', index=False)